.version-slide {
  color: white;
}

.side-container {
  mat-sidenav {
    padding: 20px;
    text-align: center;
  }

  side-content {
    margin: 1%;
  }

  .collapse-button {
    position: fixed;
    bottom: 70px;
  }
}