
<mat-card>
  <form [formGroup]="form" (submit)="onSubmit()">
    <mat-card-content *ngIf="editValues">
    <ng-container  *ngFor="let item of editValues | keyvalue ">
            <mat-form-field appearance="fill" >
                <mat-label>{{item.key}}</mat-label>
                <input matInput formControlName="{{item.key}}" appUppercase name="{{item.key}}">
              </mat-form-field>
        </ng-container>
      </mat-card-content>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="isFormInvalid()">Submit</button>
      </mat-dialog-actions>
    </form>
  </mat-card>
