<ng-container *ngIf="!errorState.fail; else failTemplate ">
  <app-shared-read
  [entity]="'heroes'"
  [data]="resolvedValues"
  [columns]="displayedColumns"
  (onAddAction)="addForm($event)"
  (onEditAction)="editForm($event)"
  (onDeleteAction)="deleteMessage($event)"
  [isLoadingData]="loading"
  ></app-shared-read>
</ng-container>
<!-- (onFilterValue)="applyFilter($event)" -->
<ng-template #failTemplate>
  <mat-card>
    <mat-card-content>
      <h1>DATA CALL HAS FAILED</h1>
      <p>Switch version to change data call option</p>
    </mat-card-content>
  </mat-card>
</ng-template>
